@charset "UTF-8";

@font-face {
    font-family: ahta;
    src: url(/cafetoria/CafetoriaDemoRegular.ttf);
}

body{
    margin: 0%;
    padding: 0%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow: break-word;
}

h1, h2{
    font-weight: 800;
    color: black;
    text-transform: uppercase;


}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

main{
    display: block;
    background: #fff;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 25px;
    animation: pauta 5s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 40%;
}

section.modulo p{
    margin-bottom: 30px;
    text-align: justify;
    font-size: 1.3em;
}

section.modulo h2{
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: .3em;
    text-align: center;
}

section.modulo.content{
    padding: 40px 0;
    background: #ffffff;
}

section.modulo.parallax{
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 100vh !important;
     width: 100%;
     overflow: hidden;
     position: relative;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
}

section.modulo.parallax h1{
    color: beige;
    text-shadow: 7px 7px 7px #C08261;
    text-align: center;
    font-size: 75px;
    z-index: 100;


}

section.modulo.parallax::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0) 30%, #000 100% );
}


section.modulo.parallax-1{
    background-image: url("https://cdn.pixabay.com/photo/2019/11/11/15/32/coffee-4618705_640.jpg");
}


section.modulo.parallax-2{
    background-image: url("https://cdn.pixabay.com/photo/2018/10/04/14/22/reading-3723751_1280.jpg");
}

section.modulo.parallax-3{
    background-image: url("https://cdn.pixabay.com/photo/2018/01/31/09/57/coffee-3120750_640.jpg");
}

@keyframes pauta {
    from{
     translate: -100vw 0;
     color: #F2ECBE;
    }

    to{
     translate: 0 0 #000;
    }
}

@media all and (max-width: 860px) {

    section.modulo.parallax h1{
        color: beige;
        text-shadow: 5px 5px 7px #C08261;
        text-align: center;
        font-size: 2.5em;
        z-index: 100;
    }

    section.modulo p{
        margin-bottom: 10px;
        text-align: center;
        font-size: 1em;
    }

    section.modulo.content{
        width: 90%;
        background: #ffffff;

    }

    
    section.modulo h2{
        margin-bottom: 30px;
        font-size: 30px;
        text-align: center;

    }

    section.modulo.parallax-1{
        background-image: url("https://cdn.pixabay.com/photo/2020/03/07/05/18/coffee-4908764_1280.jpg");
    }

}









